body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: 'Cuprum', Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  color: #ffffff;

  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: #f4f7f9;
}

.logo {
  background-color: #ee3643;
}

.header__logo:hover {
  background-color: #ca2c37;
}

.header__logo:active {
  background-color: #ba2732;
}

.dark-bg {
  background-color: #293449;
}

.header__search {
  font-size: 17px;
  line-height: 18px;
  font-family: 'Cuprum', Arial, sans-serif;

  color: #ffffff;

  background-color: #293449;
  border: 0;
}

.header__search:hover,
.header__link:hover {
  background-color: #212a3a;
}

.header__search:focus {
  color: #000000;

  background-color: #fff;
}

.header__link:active {
  background-color: #161d29;
}

.header__order {
  background-color: #63a63e;
}

.header__order:hover {
  background-color: #5fbb2d;
}

.header__order:active {
  background-color: #518534;
}

.header__text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header__phonenumber {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header__address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-login {
  list-style: none;
}

.header__btn {
  font-size: 21px;
  line-height: 21px;

  color: #000000;

  background-color: #fff;
}

.header__btn:hover {
  color: #ee3643;
}

.header__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.lightdark-bg {
  background-color: #32425c;
}

.nav__list {
  list-style: none;
}

.nav__item {
  font-size: 17px;
  line-height: 17px;
}

.nav__item:hover {
  background-color: #293449;
}

.nav__item:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.section-title {
  font-size: 30px;
  line-height: 30px;

  color: #32425c;
}

/* features */

.features__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #ffffff;
}

.features__yellow {
  background-color: #ffbf47;
}

.features__blue {
  background-color: #3bbce3;
}

.features__pink {
  background-color: #dc91d8;
}

.features__green {
  background-color: #8ed78f;
}

.features__link {
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;

  background-color: #000000;
  opacity: 0.1;
}

.features__link:hover {
  opacity: 0.2;
}

.features__link:active {
  opacity: 0.3;
}

.slider__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  color: #ffffff;
}

.slider__slogan {
  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
}

/* cards */

.popular__header,
.partners__header {
  background-color: #f9f5f0;
}

.cards {
  list-style: none;
}

.card {
  border: 1px solid #e5e5e5;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: 'PTSans', Arial, sans-serif;
}

.card__previous-cost {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: 'PTSans', Arial, sans-serif;

  color: #999999;

  text-decoration: line-through;
}

.card__cost {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: 'PTSans', Arial, sans-serif;

  color: #ffffff;
}

/* partners */



/* services */

.services {
  background-color: #f4f7f9;
}

/* company */

.btn {
  background-color: #ee3643;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.company__title {
  color: #000000;
}

.company__text {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSans', Arial, sans-serif;
}

.company__list {
  list-style: none;
}

.delivery__item {
  font-size: 18px;
  line-height: 20px;
}

/* contacts */

.contacts__title {
  color: #000000;
}

.contacts__text {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSans', Arial, sans-serif;
}

/* footer */

.footer {
  background-color: #32425c;
}

.footer__address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;

  color: #f3f7f9;
}

.footer__phonenumber {
  font-size: 18px;
  line-height: 24px;

  color: #f3f7f9;
}

.footer-nav__item {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-nav__item:hover {
  text-decoration: underline;
}

.footer-nav__item:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-nav__item--yellow {
  color: #ffd180;
}

.footer-nav__item--yellow:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer__copyright {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.footer-social {
  /* list-style: none; */
}

.social__item {
  background-color: #212a3a;
}

.social__item:hover,
.social__item:active {
  background-color: #ee3643;
}

.footer__text {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.footer__link {
  color: #ffd180;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link:active {
  color: #ee3643;
}

/* Catalog */

.way {
  list-style: none;
}

.way__item {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans', Arial, sans-serif;
}

.catalog-title {
  background-color: #f2f6f8;
}

.subtitle {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans', Arial, sans-serif;

  background-color: #f7f3ec;
}

.filters__price {
  font-size: 17px;
  line-height: 18px;
  font-family: 'PTSans', Arial, sans-serif;

  background-color: #f7f3ec;
}

.filters__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: 'PTSans', Arial, sans-serif;
}

.filters__list {
  list-style: none;
}

.filter__item {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PTSans', Arial, sans-serif;
}

.filter__item:disabled {
  color: rgba(0, 0, 0, 0.4);
}

.filters__button {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans', Arial, sans-serif;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.sort {
  background-color: #f7f3ec;
}

.sort__list {
  list-style: none;
}

.sort__value {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans', Arial, sans-serif;

  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.sort__value:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sort__value:active {
  color: #ee3643;

  border-bottom: none;
}

.pager {
  list-style: none;
}

.pager__link {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans', Arial, sans-serif;

  color: #000000;

  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}

.pager__link:hover {
  border-color: #bdc6ca;
}

.pager__link:active {
 border-color: #ee3643;
}

.pager__link--active {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.description {
  background-color: #f4f7f9;
}

.description__title {
  color: #000000;
}

.description__text {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSans', Arial, sans-serif;
}
